/* Write in SASS/SCSS. */

$primary-color: orange;
$gradient: linear-gradient(130deg,red, blue);
$font: font-size 1rem;

* {
    margin: 0;
    padding: 0;
}


body {
    background-image: $gradient;
    background-repeat: no-repeat;
    min-height: 100vh;
    text-align: center;
}

.budget_tracker--ui {
    min-height: 40vh;
    max-width: 25rem;
    display: grid;
    grid-template-columns: 10rem;
    place-items: center;
    border: solid rgb(0, 0, 0) 0.1rem;
    border-radius: 1rem;
    overflow: hidden;
    background-color: $gradient;
    color: $gradient;
    align-content: center;
}

.cal_display { 
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    color: #d6c2ff;
    z-index: 2;
}

.budget_tracker--title {
    margin: 0;
    padding: 0;
    color: $primary-color;
}

.budget_tracker--result {
    color: $gradient;
}

.budget_tracker--button {
    color: $primary-color;
    background-color: $gradient;
    width: 5rem;
    font-size: 1rem;
    border-radius: 1rem;
}

.budget_tracker--h {
    font-size: 1rem;
}
